<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmf.server.mapper.CompanyMapper">
    <resultMap id="BaseMapper" type="com.hmf.server.entity.Company">
        <id property="id" column="id"/>
        <result property="companyName" column="company_name"/>
        <result property="companyAddress" column="company_address"/>
        <result property="companyNote" column="company_note"/>
    </resultMap>
    <select id="getCompanyInfoById" resultMap="BaseMapper" parameterType="Integer">
        select * from t_company where id=#{id}
    </select>
</mapper>
