<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmf.server.mapper.PartsStorageMapper">
    <resultMap id="PartsStorageVOMap" type="com.hmf.server.entity.VO.PartsStorageVO">
        <id property="id" column="id"/>
        <result property="partsNumber" column="parts_number"/>
        <result property="createtime" column="createtime"/>
        <result property="pratsPrice" column="parts_price"/>
        <association property="parts" javaType="com.hmf.server.entity.Parts">
            <id property="id" column="id"/>
            <result property="partsTag" column="parts_tag"/>
            <result property="partsName" column="parts_name"/>
        </association>
        <association property="company" javaType="com.hmf.server.entity.Company">
            <id property="id" column="id"/>
            <result property="companyName" column="company_name"/>
            <result property="companyTelephone" column="company_telephone"/>
            <result property="companyAddress" column="company_address"/>
        </association>
        <association property="partsFactory" javaType="com.hmf.server.entity.PartsFactory">
            <id property="id" column="id"/>
            <result property="factoryAddress" column="factory_address"/>
            <result property="factoryName" column="factory_name"/>
            <result property="factoryTelephone" column="factory_telephone"/>
        </association>
    </resultMap>
    <select id="getPartsStorageByPartsName" resultMap="PartsStorageVOMap" parameterType="String">
        select
        p.parts_name,
        pt.parts_price,
        p.parts_tag,
        c.company_name,
        c.company_address,
        c.company_telephone
        from t_parts_storage pt
        left join t_parts p on pt.parts_id = p.id
        left join t_company c on pt.company_id = c.id
        and p.parts_name like contact('%',#{partsName},'%');
        and pt.is_enable = 1;
    </select>
    <select id="getPartsStorageByCompanyId" resultMap="PartsStorageVOMap" parameterType="Long">
        select
        p.parts_number
        p.parts_name,
        pt.parts_price,
        p.parts_tag,
        pf.factory_name,
        pf.factory_address,
        pf.factory_telephone
        from t_parts_storage pt
        left join t_parts p on pt.parts_id = p.id
        left join t_company c on pt.company_id = c.id
        left join t_parts_factory pf on pt.factory_id = pf.id
        and pt.company_id = #{companyId}
        and pt.is_enable = 1;
    </select>
</mapper>
